[package]
name = "gears"
version = "0.1.0"
authors = ["Overpeek <overpeek.fin@gmail.com>"]
edition = "2018"
description = "WIP A simple 2D Game Engine Applicable in Rust aka GEARS"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
short_namespaces = []
validation = []
validation_panic = ["validation"]

[dependencies]
log = "~0.4"
colored = "~2.0"
cgmath = "~0.18"
wavefront_obj = "~9.0"
parking_lot = "~0.11"
bitflags = "~1.2"
winit = { version = "~0.24", features = ["web-sys"] }
ash = "~0.32"
ash-window = "~0.6"
raw-window-handle = "~0.3"
gears-pipeline = { path = "../gears-pipeline" }
gears-traits = { path = "../gears-traits/" }